modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
[agent]
expertMode = true
integrations = ["resend:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run preview"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_BASE_URL = "https://c8acb386-719e-4d41-aada-97c600cd7a59-00-18i0itbi5ea3m.picard.replit.dev"
