modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXT_PUBLIC_BASE_URL = "https://c8acb386-719e-4d41-aada-97c600cd7a59-00-18i0itbi5ea3m.picard.replit.dev"
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_eo0JYuZty2UH@ep-lively-art-achl17m8-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
